Examen/Examen_Quarks/Connected Services/ServiceReference/WCF_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Examen" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Examen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntidades">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entidades" nillable="true" type="tns:Entidades" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidades" nillable="true" type="tns:ArrayOfEntidades" />
  <xs:complexType name="Entidades">
    <xs:sequence>
      <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entidades" nillable="true" type="tns:Entidades" />
</xs:schema>