Examen/Examen_Quarks/Connected Services/ServiceReference/WCF_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61876/WCF_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Examen" />
  <xs:element name="consultarUnCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DCP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarUnCPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Examen" minOccurs="0" name="consultarUnCPResult" nillable="true" type="q1:ArrayOfEntidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>